.env
errors.log
espn_endpoints.txt
event_reinsert.log
foreign_keys.log
items.log
collegebball/__pycache__/__init__.cpython-310.pyc
collegebball/__pycache__/database.cpython-310.pyc
collegebball/__pycache__/items.cpython-310.pyc
collegebball/__pycache__/pipelines.cpython-310.pyc
collegebball/__pycache__/settings.cpython-310.pyc
collegebball/__pycache__/utils.cpython-310.pyc
collegebball/spiders/__pycache__/__init__.cpython-310.pyc
collegebball/spiders/__pycache__/athletes.cpython-310.pyc
collegebball/spiders/__pycache__/events.cpython-310.pyc
collegebball/spiders/__pycache__/rosters.cpython-310.pyc
collegebball/spiders/__pycache__/seasons.cpython-310.pyc
collegebball/spiders/__pycache__/team_spider.cpython-310.pyc
scripts/__pycache__/__init__.cpython-310.pyc
athlete_details_reinsert.log
collegebball/spiders/__pycache__/player_stats.cpython-310.pyc
collegebball/spiders/__pycache__/bookies.cpython-310.pyc
scripts/master_flow.txt
collegebball/spiders/__pycache__/conferences.cpython-310.pyc
collegebball/spiders/__pycache__/event_odds.cpython-310.pyc
collegebball/spiders/__pycache__/team_outcomes.cpython-310.pyc
.vscode/launch.json
collegebball/__pycache__/database.cpython-311.pyc
.gitignore
collegebball/__pycache__/__init__.cpython-311.pyc
collegebball/spiders/__pycache__/event_odds_details.cpython-310.pyc
collegebball/spiders/__pycache__/event_odds_lines.cpython-310.pyc
